<?xml version="1.0" encoding="utf-8" ?>
<!-- mode can be "secure", "open" -->
<client mode="secure"
        xmlns="http://tempuri.org/client.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:noNamespaceSchemaLocation="client.xsd">
  <master address="127.0.0.1" port="6666" />
</client>