<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="master" type="Builderdash.Configuration.MasterConfiguration, bdlib"/>
  </configSections>
  <!-- mode can be "secure", "open" -->
  <master mode="open" certificatePemFile="c:\castore\cn1.pem">
    <listen address="127.0.0.1" port="6666" />
  </master>

  <system.diagnostics>
    <sources>

      <source name="bd.master.server" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <clear/>
          <add name="consoleListener"/>
        </listeners>
      </source>

      <!--      <source name="System.ServiceModel"-->
      <!--              switchValue="Error"-->
      <!--              propagateActivity="true">-->
      <!--        <listeners>-->
      <!--          <add name="traceListener"-->
      <!--              type="System.Diagnostics.ConsoleTraceListener"-->
      <!--              />-->
      <!--        </listeners>-->
      <!--      </source>-->
    </sources>

    <switches>
      <add name="SourceSwitch" value="Verbose"/>
    </switches>

    <sharedListeners>
      <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>

  </system.diagnostics>
</configuration>