<?xml version="1.0" encoding="utf-8" ?>
<system.diagnostics>
  <sources>
    <source name="Builderdash" switchName="SourceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <clear/>
        <add name="consoleListener"/>
      </listeners>
    </source>

    <source name="System.ServiceModel"
            switchValue="Error"
            propagateActivity="true">
      <listeners>
        <add name="consoleListener"/>
        <add name="fileListener"/>
      </listeners>
    </source>
  </sources>

  <switches>
    <add name="SourceSwitch" value="Verbose"/>
  </switches>

  <sharedListeners>
    <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="true" traceOutputOptions="DateTime,ThreadId"/>
    <add name="fileListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\bd.svclog" />
  </sharedListeners>

</system.diagnostics>